# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
.turbo/
out/

# Build artifacts
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
